<div class="row align-items-center" style="height: 100vh;">
    <div class="mx-auto col-10 col-md-8 col-lg-6">

        <form class="form-subscription" [formGroup]="form">
            <h1 class="text-primary mb-3">CALCME Subscription - Challenge</h1>

            <div class="form-group mb-3">
                <label for="name">Nome:</label>
                <input type="text" class="form-control" id="name" placeholder="Informe o nome completo" name="name"
                    [formControlName]="'name'" />
            </div>

            <div class="form-group mb-3">
                <label for="email">E-mail:</label>
                <input type="text" class="form-control" id="email" placeholder="Informe o endereço e-mail" name="email"
                    [formControlName]="'email'" />
            </div>

            <div class="form-group mb-3">
                <label for="phone">Telefone:</label>
                <input type="text" mask="(00) 00000-0000" class="form-control" id="phone"
                    placeholder="Informe o telefone" name="phone" [formControlName]="'phone'" />
            </div>

            <div class="alert alert-success" *ngIf="successMessage" role="alert">
                {{ successMessage }}
            </div>

            <div class="alert alert-danger" *ngIf="errorMessage" role="alert">
                {{ errorMessage }}
            </div>

            <button type="submit" [disabled]="form.invalid" (click)="save()"
                class="btn btn-success btn-customized mt-4">
                Enviar
            </button>
        </form>
    </div>
</div>